* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: auto;
    margin-bottom: 200px;
    width: auto;
}

.title {
    padding: 10px;
    color: white;
    border: 10px solid rgb(48, 0, 0);
    background-color: rgb(90, 0, 0);
    margin: 0;
}
.content {
    margin: 10px;
}
.section {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 5px;
}

.careful {
    border: 1px solid red;
}
.back {
    border: 1px solid black;
    width:fit-content;
    padding: 10px;
    margin: 20px;
    background: rgb(100, 100, 100);
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.back:hover {
    background: rgb(40, 40, 40);
}