* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: auto;
    width: auto;
}
.navbar {
    border: 10px solid darkslategrey;
    background-color: rgb(50,100,100);
    width: auto;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}
.title {
    margin:auto;
    width: 30%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    align-items:center;
}
.links {
    margin: auto;
    width: 65%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}
.navbar_link { 
    color:white;
    text-decoration: none;
}
.navbar_link:hover {
    color: lightgray;
}
.navbar_link:active {
    color: darkgray;
}

.create_event {
    margin: auto;
    color:white;
    background-color: darkslategray;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px; 
}
.create_event:hover {
    background-color: darkslategray;
}

.content {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 10px;
}

.upcoming_title {
    padding-left: 10px;
}

.filters {
    width: auto;
    padding: 10px;
    padding-top: 0px;
}

.events {
    border-top: solid 1px lightgray;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    overflow: scroll;
}
.event {
    border: 1px solid darkgreen;
    width: 200px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    overflow: scroll;
}
.event_image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.event:hover {
    opacity: 0.5;
}


