body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50vh;

}
.content {
    border-style: solid;
    border-color: grey;
    border-radius: 20px;
    border-width: 1px;
    padding: 30px;
    width: 400px;
    font-family: 'Georgia', serif;
    font-size: large;
}

form #submit-button {
    border: none;
    text-align: center;
    width: 5em;
    height: 2em;
    background: rgb(0, 100, 255);
    color: white;
    border-radius: 5px;
    font-size: large;
}
form #submit-button:hover {
    background: rgb(0, 40, 255);
    color: white;
}
