* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  margin: auto;
  width: auto;
  min-width: 800px;
}

.navbar {
  border: 10px solid darkslategrey;
  border-bottom: 0px;
  background-color: rgb(50, 100, 100);
  width: auto;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.back_to_index {
  border-right: 3px solid darkslategray;
  width: fit-content;
  padding: 16px;
  color: white;
  text-decoration: none;
}

.back_to_index:hover {
  background: darkslategray;
}

.navbar_left {
  display: flex;
  width: 10%;
}

.title {
  padding: 10px;
  color: white;
  margin: 0;
}

.links {
  margin: auto;
  width: 87.5%;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.navbar_link {
  color: white;
  text-decoration: none;
}

.navbar_link:hover {
  color: lightgray;
}

.create_event {
  margin: auto;
  background-color: darkslategray;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}

.create_event:hover {
  background-color: rgb(50, 100, 100);
  color: white;
}

.user_information {
  border: 10px solid darkslategrey;
  border-top: 1px solid darkslategray;
  padding: 5px 40px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: lightgray;
}

.username_and_password {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.edit_username_or_password {
  border: 1px solid black;
  color: white;
  text-decoration: none;
  background-color: rgb(0, 82, 150);
  border-radius: 5px;
  padding: 5px;
}

.edit_username_or_password:hover {
  background-color: rgb(0, 45, 82);
}

.delete {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}

.delete_button {
  color: white;
  background-color: rgb(230, 0, 0);
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.delete_button:hover {
  background-color: darkred;
}

.events_title {
  margin: 25px 0px 10px 20px;
}

.event_info {
  border: 1px solid gray;
  border-radius: 20px;
  margin: 10px;
  width: auto;
  height: 84vh;
  overflow: hidden;
}

.events {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.event {
  border: 1px solid darkgreen;
  width: 200px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  overflow: scroll;
}

.event_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.edit_link {
  color: white;
  text-decoration: none;
  background-color: rgb(50, 100, 100);
  border-radius: 5px;
  padding: 5px;
}

.edit_link:hover {
  background-color: darkslategray;
}

.to_event_page {
  color: white;
  text-decoration: none;
  background-color: rgb(50, 100, 100);
  border-radius: 5px;
  padding: 5px;
}

.to_event_page:hover {
  background-color: darkslategray;
}