* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    padding: 30px;
}
.content {
    border: 1px solid grey;
    border-radius: 20px;
    border-width: 1px;
    padding: 50px;
    width: auto;
}
form #submit-button {
    border: none;
    text-align: center;
    width: 120px;
    height: 40px;
    background: rgb(50, 100, 100);
    color: white;
    border-radius: 5px;
    font-size: large;
}
form #submit-button:hover {
    background: darkslategray;
    color: white;
}
