<h3>Luo tapahtuma</h3>

<form action="/create_event" method="POST" enctype="multipart/form-data">

    <p>* = pakollinen</p>

    Tapahtuman nimi *<br><input type="text" name="event_name"> <br>

    <label for="category">Kategoria *<br></label>
    <select name="category">
        {% for category in categories %}
        <option>{{category}}
            {% endfor %}
    </select> <br>

    <label for="description">Kuvaus *<br></label>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
    Hinta *<br><input type="text" name="price"> <br>
    <label for="county">Maakunta *<br></label>
    <select name="county">
        {% for county in counties %}
        <option>{{county}}
            {% endfor %}
    </select> <br>
    Kaupunki *<br><input type="text" name="city"> <br>
    Paikka *<br><input type="text" name="locale"> <br>
    Osoite *<br><input type="text" name="address"> <br>
    Alkamisaika *<br><input type="datetime-local" name="starting_time"> <br>
    Loppumisaika *<br><input type="datetime-local" name="ending_time"> <br>

    Kuvatiedosto <br><input type="file" name="image">
    <br><br>
    <input type="submit" value="Lähetä">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

