<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/event.css') }}">

<body>
  <div class="content">
    {% if event["image_id"]%}
    <img src="/event_image/{{image_id}}" alt="Event_image" class="event_image">
    {% endif %}
    <div class="info_and_back_to_index">
      <div class="info">
        <p>Tapahtuman järjestäjä: {{event["creator"]}}</p>
        <p>Paikka: {{event["locale"]}}</p>
        <p>Osoite: {{event["address"]}}, {{event["city"]}}</p>
        <p>Alkaa: {{event["starting_time"]}}</p>
        <p>Päättyy: {{event["ending_time"]}}</p>
        <p>Hinta: {{event["price"]}}</p>

      </div>
      <a href="/" class="back_to_index">Etusivulle</a>
    </div>
    <div class="title_and_description">
      <div class="title">
        <h2>{{event["name"]}}</h2>
      </div>
      <div class="description">
        {{event["description"]}}
      </div>
    </div>

  </div>

</body>