<h1><a href="/">Tapahtumakalenteri</a></h1>

{% if session.user_id %}
<p>Olet kirjautunut sisään</p>
<a href="/log_out">Kirjaudu ulos</a><br>
<a href="/create_event">Luo tapahtuma</a><br>
<a href="/user_info">Omat tiedot</a>
{% else %}
<a href="/log_in">Kirjaudu sisään</a> <br>
<a href="/sign_up">Luo käyttäjätunnus</a>
{% endif %}

<h4>Suodata tuloksia</h4>
<form action="/" method="GET">
    <label for="category">Kategoria</label>
    <input list="categories" name="category">
    <datalist id="categories">
        {% for category in categories %}
        <option>{{category}}
            {% endfor %}
    </datalist> <br>
    
    <label for="county">Maakunta</label>
    <input list="counties" name="county">
    <datalist id="counties">
        {% for county in counties %}
        <option>{{county}}
            {% endfor %}
    </datalist> <br>
    </datalist>
    <input type="submit" value="Suodata">
</form>

<h3>Tapahtumat:</h3>
{% for event in events %}
<p>{{event}} <a href="/event/{{event[0]}}">tapahtumasivulle</a></p>
</p>
{% endfor %}


<br><br>