<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

<body>
  <div class="navbar">
    <div class="title">
      <h1><a href="/" class="navbar_link">Tapahtumakalenteri</a></h1>
    </div>

    <div class="links">
      {% if session.user_id %}
      <p>
        <a href="/create_event" class="navbar_link create_event">Luo tapahtuma</a>
        <a href="/user_info" class="navbar_link">Omat tiedot&emsp;</a>
        <a href="/report" class="navbar_link">Raportoi ongelmasta&emsp;</a>
        <a href="/log_out" class="navbar_link">Kirjaudu ulos</a>
      </p>
      {% else %}
      <p>
        <a href="/log_in" class="navbar_link">Kirjaudu sisään &emsp;</a>
        <a href="/sign_up" class="navbar_link">Luo käyttäjätunnus</a>
      </p>
      {% endif %}
    </div>
  </div>
  {% if session.user_id %}
  <p>&emsp;Hellurei, {{session.username}}</p>
  {% endif %}
  {% if session.suspended %}
  <p><b>SUSPENDED ACCOUNT, RESTRICTIONS ARE APPLIED</b></p>
  {% endif %}

  <div class="content">
    <div class="upcoming_title">
      <h2>Tulevat tapahtumat</h2>
    </div>
    <div class="filters">
      <form name="filters" action="/" method="GET">
        <b>Suodata tuloksia:&emsp;</b>
        <label for="category">Kategoria</label>
        <input list="categories" name="category">
        <datalist id="categories">
          {% for category in categories %}
          <option>{{category}}
            {% endfor %}
        </datalist>

        <label for="county">&emsp;Maakunta</label>
        <input list="counties" name="county">
        <datalist id="counties">
          {% for county in counties %}
          <option>{{county}}
            {% endfor %}
        </datalist>

        <label for="date">&emsp;Päivämäärä</label>
        <input type="date" name="date" onblur="validate_time()">

        &emsp;
        <input type="submit" value="Suodata">
      </form>
    </div>
    <div class="events">
      {% for event in events %}
      <div class="event" onclick="location.href='/event/{{event.id}}';">
        {% if event["image_id"] %}
        <img src="/event_image/{{event.image_id}}" class="event_image">
        {% endif %}
        <p><b>{{event["name"]}}</b></p>
        <p> {{event["category"]}}</p>
        <p> {{event["city"]}}, {{event["county"]}}</p>
        <p> {{event["starting_time"]}}</p>
        <p> {{event["price"]}}</p>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>

</body>


<script>
  function validate_time() {
    var time = document.forms["filters"]["date"].value;
    var split = time.split("-")
    var year_length = split[0].length
    if (year_length !== 4) {
      alert("Anna kelvollinen päivämäärä")
      document.forms["filters"]["date"].value = ""
    }
  }
</script>